# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=alemeno
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis Settings
REDIS_URL=redis://localhost:6379/0


OPENROUTER_API_KEY=your_openrouter_api_key_here
